h1 {
	background: #06f;
	color: #dff;
	padding: 10px 24px;
	border-radius: 24px;
	box-shadow: black 3px 3px 16px;
}

.user {
	color: #dff;
	font-size: 20pt;
	padding: 10px 24px 0;
	float: right;
}

#edit {
	width: 50%;
}

#players {
	display: flex;
	flex-wrap: wrap;
}

.player {
	flex-shrink: 0;
	margin: 4px;
	width: 430px;
	border: thin solid grey;
}

.player > h2 {
	background: linear-gradient(white, #eef);
	text-align: center;
}

.player > h2.me {
	text-decoration: underline;
}

.player > p {
	margin: 20px;
}

.player > div {
	margin: 4px;
}

.player > div > img {
	padding: 2px;
	width: 128px;
	height: 160px;
	border: medium solid transparent;
}

.player > div > img.picked {
	border-color: purple;
}

.voting > img {
	padding: 4px;
	width: 256px;
	height: 320px;
	border: medium solid transparent;
}

.voting > img.picked {
	border-color: purple;
}
